<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.springmojocube.mapper.UserMapper">
  <select id="qurryAyNameAndPwd" resultType="com.gxa.springmojocube.entity.User">
    select
    id,
    name,
    pwd
    from
    tb_user
    where
    name = #{username}
    and
    pwd = #{pwd}
    and
    status=1;
  </select>
</mapper>